[2019-09-19 23:23] sharyuwu opened #1 "Update the first version of Problem Statement"
`301a7fbbf3a703023c3e88ab623fbf7f1431db08`

[2019-09-19 23:23] #1 closed, assigned to nobody

[2019-09-19 23:25] sharyuwu opened #2 "Update the first version of Problem Statement"
@smiths  Hi Doctor Smith,
Here is the link to Problem Statement.

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/Doc/docs/ProblemStatement/ProblemStatement.pdf

Please let me know your thoughts about it.

When I wrote the "Problem." part of my problem statement, I felt there was some information missing. The main goal of this project is gaining optimum energy during seasons.

[2019-09-20 14:58] smiths commented on #2
Hello @sharyuwu.  Your problem statement is a good start, but I would like some changes before we officially approve it.  Can you please do the following:

- give your project a title (in the title of the document)
- change your proposed solution to be more about a user exploring the options for optimum panel tilt.  Calculating the optimum angle for each season could be one output, but I think you

[2019-09-22 19:18] sharyuwu commented on #2
Hi Docter Smith,
@smiths
Thank you for your advice.

I agree with you that I will have to put more output to this program.

I have modified my Problem Solution and match it with my Problem Statement.

Here is the link of the historical changes of the document.
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/246638bbc8dcdedd7467ea2ea93aa230d4184a1f#diff-b4b8b1a0edb145f5ec5c97fb7ee2d

[2019-09-23 14:12] smiths commented on #2
@sharyuwu, thank you for updating your problem statement.  I approve it for your project.  However, as we work on your SRS, I think we will refine your requirements.  It seems very prescriptive the way it is written, but I think you really want a tool that lets someone explore different options.  You'll want to have requirements related to comparing different tilt angle scenarios.  You'll also wan

[2019-09-23 14:12] #2 closed, assigned to nobody

[2019-09-30 12:43] smiths opened #3 "Remove unnecessary material from your repo"
@sharyuwu,  your repo is huge!  You should just have the project content in your repo, not the course content.  Please remove the course content.  You have reference material (pdfs of papers) that are not publicly available; they should not be on a public site.

All you want in your repo is the folder structure represented at:

https://gitlab.cas.mcmaster.ca/smiths/cas741/tree/master/BlankProjectT

[2019-09-30 13:14] sharyuwu commented on #3
@smiths Thank you for sending me this issue.
I have deleted all the personal and unnecessary files.

In the original SRS blank template, the graphic "RelationsBetweenTM_GD_IM_DD_A.pdf" was linked to the file /Lecture/Figures/. To solve this issue, I changed the address of the graphic copying it individually to the file /docs/SRS.

To see the changed line

https://github.com/sharyuwu/optimum-tilt-o

[2019-09-30 14:02] smiths commented on #3
Yes, @sharyuwu the new repo organization is much better.  However, you still have a bit to do.  Some of the contents of your Doc folder are not documents.  For instance, you also have the src folder inside the Doc folder.  This is what you want at the top level of your folder structure:

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/tree/master/Doc

That is, the Doc folder should be rem

[2019-10-09 23:32] sharyuwu commented on #3
Yes, @smiths the DOC file has removed, and the files inside the file were pushed to an upper layer.

[2019-10-09 23:35] sharyuwu opened #4 "SRS can be reviewed"
@smiths
Hi Doctor Smith,
 My SRS is ready to be reviewed.
However, I will continually modify and update it.
Please pull the latest version, if possible.

[2019-10-10 13:15] smiths commented on #3
Once you have resolved an issue, feel free to close it.  (You don't need me to close it.  I can reopen the issue if I have something further to add.)

[2019-10-10 13:15] #3 closed, assigned to sharyuwu

[2019-10-11 00:37] sorainsm opened #5 "SRS Review: Readability Improvements"
@sharyuwu I've highlighted some typos and drew a line through parts of sentences that could be removed for conciseness.

![image](https://user-images.githubusercontent.com/11723492/66616152-9db83a00-eb9d-11e9-8c3d-dea464dbadc6.png)

When removing that second sentence, put the abbreviation in brackets after the name. I.E. Sun Catcher (SC).

[2019-10-11 01:08] sorainsm opened #6 "SRS Review: Missing References"
If you have a reference where you got this number from it should be cited here.

![image](https://user-images.githubusercontent.com/11723492/66617188-17522700-eba2-11e9-91e0-70bf19370377.png)

[2019-10-11 01:34] sorainsm opened #7 "Suggestion: Replace Wikipedia Sources"
You should replace the Wikipedia references for your TMs and equations with textbook references to make it more credible.

![image](https://user-images.githubusercontent.com/11723492/66617839-c263e000-eba4-11e9-83af-d7b8bd01f470.png)

The linked wikipedia page has good references for this at the bottom:
![image](https://user-images.githubusercontent.com/11723492/66618065-c04e5100-eba5-11e9-8eec-3e

[2019-10-11 01:39] sorainsm opened #8 "Suggestion (SRS): General Definition Should be a Data Definition"
I think that your GDD should actually be a DD. It doesn't look like it's a refinement on the TM, just an equation used in solving the problem.

I've included images of both the TM and GDD side by side to show that there's no refinement from one to the other. @smiths if we could get your opinion on this, I'd appreciate it!

![image](https://user-images.githubusercontent.com/11723492/66618214-58e4d1

[2019-10-11 01:41] sorainsm commented on #6
Reference missing in GDD section.

![image](https://user-images.githubusercontent.com/11723492/66618330-bd079500-eba6-11e9-8a80-83f52fea7766.png)

[2019-10-11 01:43] sorainsm commented on #5
The following two instances should be "based".

![image](https://user-images.githubusercontent.com/11723492/66618374-e0324480-eba6-11e9-9826-447a0b3349e2.png)
![image](https://user-images.githubusercontent.com/11723492/66618389-ea544300-eba6-11e9-9191-0d33ef375d89.png)

[2019-10-11 03:03] sharyuwu commented on #5
@sorainsm  Thank you for pointing out the spelling mistake.
And yes, I agree with you that removing those sentences you pointed out can make the content more concise.

[2019-10-11 03:07] sharyuwu commented on #5
The changed line can be reviewed in the link https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/a38b9eca2d06a9d056008d8b41b89713e275ad02#diff-590bd3df8400453a6e28fafa3be135a5

[2019-10-11 03:22] smiths commented on #5
Thank you for the comments @sorainsm.  Good job with quickly addressing the concerns @sharyuwu, and then including the hash of the commit that closes the issue.  The only thing you forgot to do was actually close the issue.  :smile:

[2019-10-11 03:22] #5 closed, assigned to sharyuwu

[2019-10-11 03:32] smiths commented on #8
Yes, I agree with @sorainsm.  The GD appears to be a DD.  The clear hint is that writing it did not require a reference to a TM or other GD.  If it refined something,  you would have referred to it.

[2019-10-11 03:34] smiths commented on #7
I also agree with this advice.  Wikipedia is great for quickly learning, but it generally shouldn't be cited in scholarly work.

[2019-10-11 03:35] sharyuwu commented on #6
@sorainsm  Thanks for pointing this out.
I agree with the missing cite of the second post issue and it will be corrected.
About the first post issue, I am not sure whether or not should I cite it.
Because after I did some research, I found out the approximately " solar intensity = 1.35kw" is more like a general fact in celestial mechanics.
Like the attacked resource, it just used the value of  " s

[2019-10-11 03:37] sorainsm opened #9 "SRS Review: Figure Missing Captions"
This figure is missing a caption.

![image](https://user-images.githubusercontent.com/11723492/66619081-94cd6580-eba9-11e9-9767-514bed598909.png)

[2019-10-11 12:44] sorainsm opened #10 "SRS Review: Improve Maintainability of the User Responsibilities Section"
The highlighted part about "requirement from SC" should be replaced with a link to the specific requirement (or assumption?) about input formatting.

![image](https://user-images.githubusercontent.com/11723492/66652176-0a195480-ec03-11e9-971f-8dc4f9af1d9e.png)

[2019-10-11 12:45] sorainsm opened #11 "SRS Review: Internal Document Links Not Working"
Some of the references in the document aren't being called correctly in the LaTeX file, which causes them to show up as ?? in the pdf.

![image](https://user-images.githubusercontent.com/11723492/66652310-72683600-ec03-11e9-9711-9352e559a82f.png)

[2019-10-11 12:49] sorainsm commented on #10
Alternatively, you could list this date formatting requirement as an input constraint and put it in Table 2.

I would think the physical constraints would be that the individual values fall in certain ranges (e.g. 01 <= month <= 12).

@smiths do you think this would be an appropriate way to capture this formatting requirement?

![image](https://user-images.githubusercontent.com/11723492/66652507-e

[2019-10-11 13:02] sorainsm opened #12 "SRS Review: Itemized List Bleeds Into Margin"
The itemized list for 5.1 Functional Requirements is bleeding into the margin and covers the page number.

I think the issue may be resolved by recompiling the LaTeX.

![image](https://user-images.githubusercontent.com/11723492/66653258-96c51200-ec05-11e9-8d69-3615aa0fbfde.png)

_EDIT: I originally thought this was being captured as a table, and the issue might have been needing to use longtable i

[2019-10-11 13:07] smiths commented on #10
@sorainsm, generally we would not include the input format as a user responsibility.  The software should check that the format is correct, and let the user know when it is incorrect.  There should definitely be a table for constraints on the input.  The table shown looks good, although the notation 90degreesN/S is ambiguous.  If the phi value is an angle and a compass direction, then it could be

[2019-10-11 13:11] sorainsm opened #13 "Suggestion (SRS): Add more NFRs for understandablility"
Currently your NFR for the Understandable quality focuses on the understandability of the code.
![image](https://user-images.githubusercontent.com/11723492/66653725-ac870700-ec06-11e9-9b61-f5e2b866118b.png)

I think it would be good to talk about the understandability (or more specifically ease of use) of the system for your case.

I'd suggest adding something that tries to measure how long it tak

[2019-10-11 13:12] sorainsm opened #14 "SRS Review: Dr. Smith's Comments Still in PDF"
There were a few of Dr. Smith's comments that should be removed from the document.

![image](https://user-images.githubusercontent.com/11723492/66654030-4f3f8580-ec07-11e9-9712-68306e0fb6ac.png)

[2019-10-11 13:20] sorainsm opened #15 "SRS Review: Traceability Matrix Is Missing Entries"
The traceability matrix seems to be missing some of the connections.
For example: I see that R4 is connected to IM1 when I read the R4 row, but I don't see that IM1 is connected to R4 when I read across the IM1 row. I've highlighted the picture below to show the issue.

![image](https://user-images.githubusercontent.com/11723492/66654305-f0c6d700-ec07-11e9-8328-4b2e53169f3e.png)

There are quite a

[2019-10-11 13:26] sorainsm commented on #6
@sharyuwu I definitely agree that it should go in the **Values of Auxiliary Constants**!

[2019-10-11 13:27] sorainsm commented on #7
If you decide to change the references (and even when you're just citing other URLs) you should add them to the .bib file so they will show up in your references section.

![image](https://user-images.githubusercontent.com/11723492/66655038-641d1880-ec09-11e9-8a5c-b42fedee9205.png)

[2019-10-11 14:01] sharyuwu commented on #14
@sorainsm Yes, I did try to put this comments in % or /iffalse..../fi but then I got a compiler error :(
so I will just have to leave them there for a while.
They will be fixed when I found out where the compiler error really came from!!

[2019-10-11 14:02] sharyuwu commented on #14
I will keep this issue open to remind me this has to be fixed.

[2019-10-11 14:07] sharyuwu commented on #12
@sorainsm Yes, I did try to fix this issue, but it seems like a compilation issue from Latex itself.
It might work if I change it from an itemized list to a table, which means I will have to change the template of this SRS.
@smiths if we could get your opinion on this, I'd appreciate it!

[2019-10-12 19:25] sharyuwu commented on #9
Thank you for pointing this out.
The label has been added.
See the changed line:
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/48942d44dc5485daa07e4f8586bc958605d1e8c1#diff-590bd3df8400453a6e28fafa3be135a5

[2019-10-12 19:25] #9 closed, assigned to sharyuwu

[2019-10-12 21:21] Zhang-Zhi-ZZ opened #16 "Revision History is not modified(#1)"
Hi Sharon,

Your revision history table is not modified yet, it's the one Dr.Smith gave in the example file.

[2019-10-12 21:27] Zhang-Zhi-ZZ opened #17 "Spelling mistake(#2)"
Hi Sharon,

In the first sentence in System Context section, you I think it's "users to the system then the output" but not "than the output".

[2019-10-12 21:30] Zhang-Zhi-ZZ opened #18 "Difficult to understand (#3)"
Hi Sharon,

In SC Responsibilities, you wrote
<img width="533" alt="Screen Shot 2019-10-12 at 5 30 12 PM" src="https://user-images.githubusercontent.com/55267358/66707885-f579b100-ed15-11e9-8b5a-235ce1e01c7e.png">
Did you mean "and to generate a report"?

[2019-10-12 21:38] Zhang-Zhi-ZZ opened #19 "Duplicated "RefBy" (#4)"
Hi Sharon,
in the first Theoretical Models,
<img width="259" alt="Screen Shot 2019-10-12 at 5 38 37 PM" src="https://user-images.githubusercontent.com/55267358/66707961-23abc080-ed17-11e9-82e0-d127f08f06e2.png">
There's duplicated "RefBy"

[2019-10-12 21:42] Zhang-Zhi-ZZ opened #20 "References not in standard form(#5)"
Hi Sharon,

I think it will be better to number the references like:
<img width="336" alt="Screen Shot 2019-10-12 at 5 16 57 PM" src="https://user-images.githubusercontent.com/55267358/66707992-9b79eb00-ed17-11e9-8699-152b8546034d.png">

Just to standardize it.

[2019-10-12 23:55] sharyuwu commented on #16
@best-zhang-zhi  can you please that a screenshot of that table you mentioned? Cause every table in the report has been modified. Or please pull the latest version and check if the issue still exists.
Thanks.

[2019-10-13 03:02] sharyuwu commented on #19
@best-zhang-zhi  Thanks to pointing this out.
It has been correct.
see https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL718

[2019-10-13 03:02] #19 closed, assigned to nobody

[2019-10-13 03:06] sharyuwu commented on #18
@best-zhang-zhi  Yes, you are right. It means to generate the output as a report format.
I have changed the way to express this idea.
See https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL432

[2019-10-13 03:06] #18 closed, assigned to nobody

[2019-10-13 03:08] sharyuwu commented on #17
@best-zhang-zhi  Thank you for pointing this out. Yes, you are right it should be then instead of than.
See https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL432

[2019-10-13 03:08] #17 closed, assigned to nobody

[2019-10-13 03:15] sharyuwu commented on #15
@sorainsm  Thank you for pointing this out.
Indeed, there was some uncertainty when I build this table.
Combining the other posted issue https://github.com/sharyuwu/optimum-tilt-of-solar-panels/issues/8, my new document has removed the original IM1. Therefore, I changed the content of this table.
See the changing in Link:  https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf506

[2019-10-13 03:15] #15 closed, assigned to sharyuwu

[2019-10-13 03:16] sharyuwu commented on #14
@sorainsm  Thanks again for pointing out this issue.
I have found my missing command and go ride off this issue!
See https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL1199-R1260

[2019-10-13 03:16] #14 closed, assigned to sharyuwu

[2019-10-13 03:26] sharyuwu commented on #13
@sorainsm  Thank you for pointing this out.
Yes, I agree that this system should focus more on the users' capability. Indeed, the users of this software aim to be people who only have basic knowledge of technology.
I have changed the "Understandable" in the NFR section, but instead of using the time for setting up the system, I will try to record the step users need to get the result.

See the cha

[2019-10-13 03:27] sharyuwu commented on #11
@sorainsm  Thank you for pointing this out.
This issue has been fixed.
See https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL1081-L1082

[2019-10-13 03:27] #11 closed, assigned to sharyuwu

[2019-10-13 03:36] sharyuwu commented on #10
@sorainsm Thank you for pointing this out.
Yes, it looks abstract to say "the requirement from SC", but based on what doctor smith said, I will still keep this line as it is.
@smiths  I have changed the notation of phi value to a tuple,(90^\circ,  N or S), and defined degree as a degree and N or S as a direction in the section of "table of units".

[2019-10-13 03:36] #10 closed, assigned to sharyuwu

[2019-10-13 03:43] sharyuwu commented on #8
@sorainsm Thank you for pointing this out.
It gives me a chance to think about the order of the method I used. I have changed the Calculate of the
Zenith angle to Data Definition like you said it was not refining anything.

See the changed line in the link: https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804d

[2019-10-13 03:43] #8 closed, assigned to sharyuwu

[2019-10-13 03:47] sharyuwu commented on #7
@sorainsm Thank you for pointing this out.
More reliable sources have added and cited in this document.
See https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL715

[2019-10-13 03:47] #7 closed, assigned to sharyuwu

[2019-10-13 03:50] sharyuwu commented on #6
@sorainsm Thanks again for posting this issue.
As the discussion, I have put this value to the Values of Auxiliary Constants and also referred it to the Assumption.

See the changed line in Link: https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/f4ed4fbf5069cc56553eaaf82d29dd2f47ce6493#diff-8111704a3cf481beeb1db94762a8804dL1312-R1388

[2019-10-13 03:50] #6 closed, assigned to sharyuwu

[2019-10-13 04:01] sharyuwu opened #21 "Is this placement easy to understand?"
@sorainsm @best-zhang-zhi

I need some opinions or suggestions on my method of General Definition and Instance Models.
I wish to express the idea as first, run  GD1 then run IM1. Therefore, I see it as IM1 is driven by GD1.

Or should I put my GD1 in Instance Models?

![image](https://user-images.githubusercontent.com/55363335/66710725-368cb800-ed4c-11e9-95fb-1863b0439d7c.png)

![image](https://us

[2019-10-13 04:15] sharyuwu commented on #20
@best-zhang-zhi Thanks for pointing this out, but I am using the default reference style of the SRS template.
@smiths  Should I change the style of the references?

[2019-10-19 00:00] sharyuwu commented on #20
@best-zhang-zhi  Thank you again for pointing out this issue.
You are right after standardized the reference page does make the cross-reference more clear.

See the changed line.
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/182802b7523e22627a83680dd64e86f172a528ba#diff-8111704a3cf481beeb1db94762a8804dL21-R23

[2019-10-19 00:00] #20 closed, assigned to nobody

[2019-10-19 00:10] sharyuwu commented on #12
@sorainsm Thanks again for pointing out this issue.
It was fixed by putting // at the end of every item.
See the changed line:
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/36b7501d5fc7515b07afd9b879c080ef6b313af7#diff-8111704a3cf481beeb1db94762a8804dL1170-R1171

[2019-10-19 00:10] #12 closed, assigned to sharyuwu

[2019-10-19 13:44] smiths commented on #20
@sharyuwu, the reference style was fine the first way, but it is also fine with the new way.  As long as there are references and they are cited correctly, I'm fine with whatever standard is adopted.  BibTeX takes care of things quite well.  Personally I like the natbib style (author year style) because it shows me right in the text what the reference is.

[2019-10-19 13:45] smiths commented on #19
@sharyuwu, thank you for including the information necessary for someone to determine if they agree with closing the issue.  It is also nice to see you closing the issues quickly.  😄

[2019-10-19 13:53] smiths commented on #13
@sorainsm and @sharyuwu, I agree that usability should be something that this project focuses on.  The physics is fairly straightforward and the implementation shouldn't be too bad.  Focusing in usability will provide something to ensure that the project is ambitious enough.

Rather than understandability, I think you should discuss usability.  Understandability is more a quality for the code and

[2019-10-19 13:59] smiths commented on #16
@sharyuwu, the revision history table is on page ii of your document.  The heading of the table is Revision History.  The dates, version numbers and notes are the same placeholders that are in the template.  You should replace these with actual dates of major revisions.

[2019-10-19 15:53] #4 closed, assigned to nobody

[2019-11-05 04:55] sharyuwu opened #22 "Update the first version of VnV"
@smiths As title.
The first version of VnV has been updated.

[2019-11-05 23:26] sharyuwu commented on #16
It has been updated so I will close this issue.
See the changed line https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/62cfa1330c9174c049bb028429a1a4ff2ca92413#diff-8111704a3cf481beeb1db94762a8804dL102-R101

[2019-11-05 23:26] #16 closed, assigned to nobody

[2019-11-05 23:28] sharyuwu opened #23 "First version of VnV is updated"
As title.
@sorainsm @deemaalomair1

[2019-11-10 01:41] deemaalomair1 opened #24 "list of functional & non-functional requirements"
Hello ,
 In the document you referenced SRS document for related information .. so i think it's not important to list all functional and non-functional requirements in V&V. It is kind of repeating.

![Screen Shot 2019-11-07 at 11 22 22 AM](https://user-images.githubusercontent.com/45468077/68408165-dd4d5400-0152-11ea-8fb1-196a7395e835.png)

[2019-11-10 01:55] deemaalomair1 opened #25 "InputBounds-id2"
in InputBounds-id2 test , i think the inputs are 90 , -90 , 91 , -91 and the output will be :

90 , - 90 , latitude is greater than 90 , latitude is less than -90.

[2019-11-10 02:06] deemaalomair1 opened #26 "How test will be performed"
in more than one place you wrote
How test will be performed:
 1. Input the value from the keyboard following the instruction of the software interface.
 2. verified the output showing on the screen by the test case derivation instruction.
i think you need to identify if it is parallel or coverage or unit in this part ..

[2019-11-10 02:28] deemaalomair1 opened #27 "CalculateOutput-id5"
hello,

in this test case the input for (start, end) day (start, end) month is A random picked integer.. what if the user enter a negative number? i think you need to be more specific here

[2019-11-10 02:46] deemaalomair1 opened #28 "CalculateOutput-id6"
i think you need to mention the other side of the case .. what if the range not between ( 1..50)?
error message will show up or what ?

[2019-11-11 23:23] sharyuwu commented on #28
@deemaalomair1  Thank you for your question.

So this case (1..50) did not stand for the range of the input.
It means it will perform this test 50 times.

Therefore the output will be showed on the screen as the document described.

[2019-11-12 22:43] sorainsm opened #29 "VnV Review: Typo in Section 2, and 5"
Hi Sharon, there's a typo in section 2 (highlighted below).
Should be "latitude", seems like an "a" accidentally slipped in 😄
![image](https://user-images.githubusercontent.com/11723492/68717073-c99b5680-0573-11ea-9414-bb411bc25672.png)

[2019-11-12 22:46] sorainsm opened #30 "VnV Suggestion: Change symbol "date" to something that indicates duration"
Hi Sharon,
Just a suggestion, the use of _date_ as a symbol representing a period of time is a little confusing when reading through the document.
While it's clear what you're using it for, people may come back to this document and not read it from top to bottom, and so I think changing _date_ to either _period_ or _days_ would imply that it's a duration rather than just a singular date.

![image]

[2019-11-12 22:49] sorainsm opened #31 "VnV Review: Typo (missing spaces) in Section 3, and 5"
Hi Sharon,
Another easy fix typo - there are spaces missing between some words just before Section 3's title.
![image](https://user-images.githubusercontent.com/11723492/68717398-b3da6100-0574-11ea-9943-c9fa836b4676.png)

[2019-11-12 22:50] sorainsm commented on #31
Same issue in Section 3.1
![image](https://user-images.githubusercontent.com/11723492/68717462-d8ced400-0574-11ea-9cd8-2efb420dc969.png)

[2019-11-12 22:57] sorainsm opened #32 "VnV Review: Requirement 7 is too generic"
Hi Sharon,
I think that R7 (see figure below) should be stated in terms of the system's actions, like the other requirements are, and potentially be more specific. I think this is possible since you have that big data set that you will be pulling information from.

e.g. R7: The system should verify the output against the data from (...)

![image](https://user-images.githubusercontent.com/11723492/

[2019-11-12 23:00] sorainsm opened #33 "VnV Question: R8 is unclear, please explain what the rationale was behind it."
Hi Sharon,
I'm unclear what you're trying to say with R8 (see below).
The part that confuses me is the "in a manner consistent with decision making" - do you mean the decisions you've made in the system design, or decision making for the user (i.e. to make it easy for them to make decisions based on this information)?

Is this trying to say that the output will be in a specific format (like with R

[2019-11-12 23:03] sorainsm opened #34 "VnV Suggestion: Listing Verification and Validation Team Members"
Hi Sharon,
You specifically list myself and Zhi as reviewers for the SRS; I think that it is worthwhile to list the other class members as part of the verification and validation team as well, and move this information up to Section 4.1

![image](https://user-images.githubusercontent.com/11723492/68718211-95756500-0576-11ea-9091-b88de739a667.png)

[2019-11-12 23:06] sorainsm opened #35 "VnV Suggestion: Author Name Consistency"
Hi Sharon,
I think it would be a good idea to keep your name consistent.
Somebody jumping past the title page straight to Section 4 might be confused.
Personally I like how it is on the title page _Sharon (Yi-Shiuan) Wu_ as it makes it clear who you are 😄

![image](https://user-images.githubusercontent.com/11723492/68718308-d53c4c80-0576-11ea-8883-3e0b6037888f.png)

[2019-11-12 23:09] sorainsm commented on #31
Same issue in Section 5.1.1.
![image](https://user-images.githubusercontent.com/11723492/68718538-8cd15e80-0577-11ea-946d-363c74c7168f.png)

[2019-11-12 23:11] sorainsm commented on #29
Same issue is Section 5.1.1
Should be "Identify"
![image](https://user-images.githubusercontent.com/11723492/68718644-d3bf5400-0577-11ea-9427-47b78fa8da89.png)

[2019-11-12 23:20] sorainsm opened #36 "VnV Suggestion: Change Input Tests from Manual to Automatic Tests"
For all the input tests (InputReading-id1, InputBounds-id2, etc) it's stated that it's a manual test - I assume this is because the input is from the keyboard.

I think it is possible for you to run an automatic test with this, where you can set up what the system behaviour ought to be and then run those tests.

From Googling around I found HSpec (http://hspec.github.io/). It is supposed to be com

[2019-11-12 23:27] sorainsm opened #37 "VnV Review: Format of InputBounds-id2"
Hi Sharon,
The format of InputBounds-id2 should end lines where I drew the red lines below.
This will keep it consistent with the formatting from the template, and make it easier to read.

![image](https://user-images.githubusercontent.com/11723492/68719411-ee92c800-0579-11ea-80b0-de129353aee4.png)

[2019-11-12 23:29] sorainsm opened #38 "VnV Review: InputBounds-id2 - input(2) and output (2) should be -90"
Hi Sharon,

There seems to be a typo with input (2), as it reads 90 but should be -90.
The same applies to output (2) - both highlighted below.

![image](https://user-images.githubusercontent.com/11723492/68719521-492c2400-057a-11ea-9fb8-111d5b2a92e5.png)

[2019-11-12 23:32] sorainsm opened #39 "VnV Question: Separating Inputs for Test Cases"
Hi @smiths can you clarify for me how the test cases should be split up?
I was under the impression that we should have separate test cases with individual specific input, but is it possible to have it as Sharon has it (one broad test category with the different test inputs and outputs listed?)

Her method seems more efficient in capturing how the tests relate to each other. Is this a case where i

[2019-11-12 23:42] sorainsm opened #40 "VnV Question: Unit vs. System Test - CalculateOutput-id5"
@smiths could you please clarify the following for me: what is the difference between a unit and system test?

@sharyuwu I think that the CalculateOutput-id5 is a unit test as it checks that the calculation is correct by feeding the function a bunch of inputs and seeing that they are individually correct. To my knowledge this only tests the one function, and not the overall behaviour of the system

[2019-11-12 23:48] sorainsm commented on #40
@sharyuwu I think one of the issues might be with the word output; for system tests the output should be the output of the whole system.

I would think in this case to verify the output we'd need to just check the plots that you're going to be presenting to the user, and the format of the specific information (i.e. optimal tilt angle) since that's the "system output".

[2019-11-13 20:14] smiths commented on #40
@sorainsm, I have not yet reviewed the VnV document by @sharyuwu, but from what is given in the issue, I believe you are correct.  Systems tests test the entire software, with all of the modules acting together to get the outputs.  The focus is on the inputs the user provides and the outputs that the software calculates.  In the optimum tilt angle calculation the outputs will be the tilt angle(s)

[2019-11-13 20:18] smiths commented on #39
@sorainsm, it should be possible to easily identify the individual tests from the document, but that does not mean that each needs its own separate test description.  In many cases test cases will be identical, except for changing one input (or one state).  It would be very repetitive to write them all out in full.  It is completely acceptable to use a table, or other device, to summarize multiple

[2019-11-13 20:18] #39 closed, assigned to smiths

[2019-11-14 03:05] sharyuwu commented on #40
@sorainsm  Thank you for posting this issue
@smiths  Thank you for helping us clarify the definition of Systems testing. I will rethink the placement and the content of my document.
Before I change anything, I will still leave this issue posted.

[2019-11-14 03:39] sharyuwu commented on #30
@sorainsm Thank sora:) This is great advice. I have been struggled a lot with how to make this variable more explicit. I will think about the name you offered.
I will leave the issue open to think about it.

[2019-11-14 03:53] sharyuwu commented on #24
@deemaalomair1  I feel it is necessary to put this information in my document. Although you are right, it is a piece of repeat information from my SRS.
I feel having it listed out can enhance the traceability and the clarity of my document.
So I will close this issue.

[2019-11-14 03:53] #24 closed, assigned to nobody

[2019-11-14 04:01] sharyuwu commented on #25
@deemaalomair1  Thank you for posting this issue.
See the comment on https://github.com/sharyuwu/optimum-tilt-of-solar-panels/issues/39.
I will still leave the format of input as it is in my document.
If I place the inputs as 90, -90, 91, -91, I feel like it is saying that the input content 4 variables.
Therefore, I feel the original content is a better approach.
I decide not to change the content

[2019-11-14 04:01] #25 closed, assigned to nobody

[2019-11-15 19:54] sharyuwu commented on #34
@sorainsm  Yes, your right.
I once though the member of the "Verification and Validation team" is only for the people who will review my VnV Plan. It should be the members who will help me verify the whole project.

[2019-11-19 19:46] smiths commented on #36
Yes, @sorainsm is correct.  @sharyuwu, you really should be targeting automatic tests.

[2019-11-19 19:47] smiths commented on #34
Yes, I agree.

[2019-11-19 19:50] smiths commented on #30
@sharyuwu, I think the concept of date and time will become more clear to you when you complete your MIS.  I'm fairly sure you will be introducing an ADT for date.  Your choice of interface to this ADT will show you what date related calculations you  need.  To clarify your SRS and VnV plan, you might want to go back and add a date type to these documents.

[2019-11-19 19:52] smiths commented on #22
@sharyuwu, you should list the people assigned to an issue as Assignees.  You should see that option on the right hand side of the web-browser window.

This issue is closed via ec68fb8.

[2019-11-19 19:52] #22 closed, assigned to nobody

[2019-11-19 23:21] sharyuwu commented on #36
@smiths  Yes:) I also agree with @sorainsm, and I definitely will look into it.

[2019-11-19 23:25] sharyuwu commented on #30
@smiths  Yes, I have followed your advice on adding a data type in my SRS but haven't updated it. I will at a link to this issue after updating my document.

[2019-11-21 05:26] sharyuwu opened #41 "Discussing about the extra function of my project"
@smiths
Hi Doctor Smith,

About adding the function that can allow users to evaluate the results from different input(different date duration), I have been thinking this for a while. Then I thought I could either draw the result out with an x-axis,  y-axis graphic or compare the average solar energy absorption then present the result by a table. By doing so, I might be able to give a clear image o

[2019-11-21 13:05] smiths commented on #41
@sharyuwu I think the comparison between different date durations best lends itself to a table.  I'm not sure what you would draw graphically.  You could do a histogram, but I think the table approach will be easier for you.

Yes, usability is related to the end-user experience.  Ao and @sorainsm have details in their VnV plans on assessing usability.

[2019-11-21 13:05] #41 closed, assigned to smiths, sharyuwu

[2019-11-26 04:47] sharyuwu opened #42 "MG + MIS is ready to be reviewed"
As Title:)
Thank you!

[2019-11-26 04:50] sharyuwu opened #43 "Tried the cross reference but not working"
Hi guys,
I was trying to use cross-reference to refer to the Label I had in SRS, but it always show ??.
Does anyone have a successful experience with this issue?
Please share the tips with me if you can.
Thank you.

[2019-11-26 14:00] smiths commented on #43
@sharyuwu, the BlankProjectTemplate has a working example with external cross references.  In the MIS document there is a reference to R1 in the SRS.  You'll see in the header for `MIS.tex `:
[code]
Later in the document the reference to the SRS is done via:

[code]
Calling make in the docs folder will compiler the SRS and the MIS (and everything else).  The external command looks for the aux file

[2019-11-29 15:08] smiths commented on #42
Comments on MG embedded in 7a52678.

[2019-11-29 16:02] smiths commented on #42
Comments on MIS embedded in 1c027ee.

[2019-11-29 16:57] sharyuwu opened #44 "Need help for MIS mathematic syntax"
Hi Doctor @smiths
Can you help me with my mathematic syntax here?
There was a bunch of them in my repo and I am just addressing one out now then I will try to fix the rest of them.
![image](https://user-images.githubusercontent.com/55363335/69882441-213d0000-129e-11ea-8b31-ad57dd256b4f.png)
So here what I was trying to express was that resultL was a sequence that contains tuples ( I thought the ma

[2019-11-29 21:02] smiths commented on #44
@sharyuwu, you are correct that || is used for concatenation, but it is an infix operator.  That is, you need it to appear between the two operands.  If you are concatenating sequence A and B, you would write A || B.  In your case, the transition would be:
```resultL := resultL || ...```
Your state transition would be based on the previous state.    This means you would have to initialize resultL

[2019-11-30 17:02] sharyuwu commented on #44
This means you would have to initialize resultL to the empty sequence, or it would not be defined on the first occurrence.

![image](https://user-images.githubusercontent.com/55363335/69903346-f8803d80-1365-11ea-9a16-7c1008aa8bf6.png)

However, you haven't defined what to do when neither of the two cases applies.

After users input the required values, then the software will generate a table like

[2019-11-30 17:24] sharyuwu commented on #44
But the table I designed might feel weird because it meant I was comparing the results based on different input (different start date and end date).
I am thinking to change the design as following.
After users input the required values, then the software will generate a table like this. (Again, I make up the numbers)
![image](https://user-images.githubusercontent.com/55363335/69903844-04233280-136

[2019-11-30 17:38] sharyuwu commented on #44
The only reason I decided to use a sequence was that I want to compare the first result to the other results.
If I use a set, then I afraid that I can express the comparison process as I plan.

[2019-11-30 18:31] caobo1994 opened #45 "Output Parameters Module: Unclear meaning"
My understanding of this sentence is that after this operation, the output parameters will exactly be the calculated results, but they are still in the realm of this software, unknown to the outside world. Where is the step that interacts with the environment variables?

[2019-12-03 16:24] smiths commented on #45
I agree with @caobo1994.

[2019-12-03 18:38] smiths commented on #44
Hello @sharyuwu.  I will do my best to reply to your questions by editing comments into a quote of your posting.

You have initialized the sequence using the notation for a set.  We use angle brackets for a set.

I agree that you do not want to repeat calculations, but I feel like you could adopt a simpler approach.  Rather than have a function that takes a sequence as input, you can have a simple

[2019-12-04 03:52] sharyuwu commented on #44
Hi Doctor @smiths
A big thanks for your answers.

Do you mean we use angle brackets for a set or sequence?
In the lecture slides, I believe we use < > for init a sequence.

Yes, I have a better idea of how to build this table. Thanks, again!
I will leave this post until I do changes in my document.

[2019-12-04 04:22] smiths commented on #44
You are correct that I meant to say we use angle brackets for a sequence.

[2019-12-04 16:44] sharyuwu opened #46 "Need help! Is it understandable?"
Hi reviewers @smiths  @sorainsm  @caobo1994 ,
I rewrote one of my local function as following. It still a long-expression. Please give me some feedback on the understandability of this expression. I will use natural language to explain what does this function means.

![image](https://user-images.githubusercontent.com/55363335/70162498-bddf1380-168b-11ea-9aa3-4b9505915e68.png)
setdurlist is a local

[2019-12-04 21:26] sharyuwu opened #47 "Need help! Is this mathematical expression come out right?"
Hi reviewers @smiths  @sorainsm  @caobo1994

Sorry to call for help so frequently.
I am wondering is this mathematical expression comes out right?
![image](https://user-images.githubusercontent.com/55363335/70182260-7e2b2280-16b1-11ea-98b1-e7c6ac38526d.png)

I want to output a sequence so I use || symbol to concatenate two sequences which are "out" and an additional element followed symbol =>
And

[2019-12-04 21:28] caobo1994 opened #48 "Semantics of setlist"
I see you use concatenation twice in this function. One is the beginning, and the other one is [day, ...]. I think only one of them is needed, and I suggest that you remove the first one.

[2019-12-04 21:37] caobo1994 opened #49 "Syntax of getnext"
What is the meaning of the second parameter of getnext? It seems that you only need to know the next day after d1.

[2019-12-04 21:41] sharyuwu commented on #48
Yes,
I am working on this module now and this setlist has changed.

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/issues/46
This is what it looks like right now.

![image](https://user-images.githubusercontent.com/55363335/70183859-994b6180-16b4-11ea-8c35-945754fedadf.png)

And the new local function will be called by getdurlist.
Please give me feedback on the new local function!! Thank

[2019-12-04 21:41] caobo1994 opened #50 "display: show a table horizontally on screen"
Usually, when reading some long contents, people scroll up and down, not left and right. However, this table has infinite number of columns, but finite number of rows, so the table can be too long horizontally to be contained in one single screen. It is counter-intuitive for people to read. I suggest that you do a row<->column change, and show this table vertically.

[2019-12-04 21:43] sharyuwu commented on #49
Yes, this function has also be changed!
This is what it looks like now.
![image](https://user-images.githubusercontent.com/55363335/70184070-124ab900-16b5-11ea-80aa-97b45af023c2.png)

The new version of MIS will be posted shortly:)
Please give me feedback on the new modified function.

[2019-12-04 21:43] caobo1994 commented on #48
This new content is unavailable in your online git repo. Could you push it? Thanks!

[2019-12-04 21:49] sharyuwu commented on #50
![image](https://user-images.githubusercontent.com/55363335/70184251-78cfd700-16b5-11ea-98a4-7206124a0283.png)
I believe this is the table you mentioned.
I am not expecting infinite output because the row of the table is depended on |resultL| AND |resultL| will depend on how many times users run this software.
However, I do decide to change the design of this table!
So I will leave this post open

[2019-12-04 21:51] sharyuwu commented on #48
Sure:) but I am still continually changing it:)

[2019-12-04 21:58] sharyuwu commented on #48
Yes I HAVE PUSH it.
But please notice that I am still working on the documents:)

[2019-12-04 22:27] caobo1994 opened #51 "DayT not defined."
You have not give a formal definition of DayT, including its members, types and meanings.

[2019-12-04 22:44] smiths commented on #51
I agree with @caobo1994.  In particular, you make use of relational operators (<, <=, etc), but you do not define their meaning.  You need to define what a day is to define these operations.

[2019-12-04 22:49] sharyuwu commented on #51
Right, so DayT comes from the Day ADT Module.
And DayT is a tuple of (Natural Number, Natural Number, Natural Number)
But for the ADT Module.
Its exported type is DayT = ?
So I don't know where should I put the formal definition of DayT

[2019-12-04 22:50] smiths commented on #51
@sharyuwu, an ADT should be exported as ?.  You just need to give access programs that allow users to inspect the value.  Since you have comparisons, you'll want the ADT to export functions for <, <= etc.

[2019-12-04 22:50] sharyuwu commented on #51
So when I am using relational operators (<, <=, etc) to work with DayT, do I have to use a local function to define what the relational operators (<, <=, etc) mean in DayT?

[2019-12-04 22:51] caobo1994 commented on #51
@sharyuwu Not necessarily. You can simply say that Day1<Day2 means Day1 is before Day2, and similar meanings for other operators.

[2019-12-04 22:56] sharyuwu commented on #51
@smiths  Right, I think I got what you mean.
SO can I name the exported Access program as symbols like  <, <=  in this document?
@caobo1994  I think Doctor smith feels creat extra functions for it can make it more explicit

[2019-12-04 23:03] caobo1994 commented on #51
I still prefer defining operators (called 'operator overloading' in some programming languages). First, you give a plain information about the meaning of each operator, then you give a formal mathematical definition of the operator by comparing the members of DayT.

In addition, you only need to define one operator '<' in detail, since there are default definitions of other operators from this ope

[2019-12-04 23:09] sharyuwu commented on #51
@caobo1994  But where will be the proper place to write this operator's information?
In Assumption maybe?

[2019-12-04 23:18] caobo1994 commented on #51
Define operators like functions. Try define operator< (day1, day2)

sharyuwu <notifications@github.com> 于 2019年12月4日周三 18:09写道：

[2019-12-04 23:21] smiths commented on #51
Yes, @sharyuwu, you can name an access program with the symbol <.  It is an infix symbol, but by the definition of the semantics below, the reader will know how to interpret it.  You can then explain, in the semantics portion how the DayT argument is compared to self (the current object) to determine a truth value.

You don't even have to define this with words.  There are some math formulas for c

[2019-12-04 23:52] sharyuwu commented on #51
@caobo1994  Yes, I think you and Dr. Smith are aiming the same page:)
@smiths  Thank you for the website and the explanation.
So if I use the math formulas to represent my DayT, can the statement variable for storing the DayT represent in Integer,  like day : Integer?

[2019-12-05 02:16] sharyuwu opened #52 "Discussion about rather should I merge the modules"
Hi, reviewers @smiths  @sorainsm  @caobo1994
Can you give me some advice on rather should I merge the modules?
![image](https://user-images.githubusercontent.com/55363335/70197524-2bb22c00-16da-11ea-82b4-28b3657fe468.png)
Here is my hierarchy graph.
I am thinking rather should I merge the Zenith Angle Module and Sun Intensity Module.
The modules for this program are all small.
I guess because of t

[2019-12-05 02:20] caobo1994 commented on #52
You cab try to merge read/input modules.

sharyuwu <notifications@github.com> 于 2019年12月4日周三 21:16写道：

[2019-12-05 13:47] smiths commented on #51
@sharyuwu, I recommend that you use a natural number for the day, since there won't be any dates that are negative numbers.  You could even define a new type that will only take values between 1 and 31, but you don't need to go that far.  :-)

My advice would be to have the state variables for DayT inside the DayT ADT.  I don't think you really need a separate type that is a tuple of the data.  Th

[2019-12-05 13:55] smiths commented on #50
@sharyuwu, if you are displaying a table to the screen, you want to add an environment variable to represent the screen.

I like the generality that you are aiming for, but your project will be simpler if you decide in advance what scenarios you want to run for the user.  They can give the start date and the end date and you can a priori decide some options to compare.  As I've mentioned before, h

[2019-12-05 15:07] sharyuwu commented on #52
@caobo1994 Agree!
read/input modules will be merged in the next updated version

[2019-12-05 18:50] smiths commented on #47
@sharyuwu, you cannot append to `out`; your output field is defining the output.  A value isn't defined when you enter this access program.  If you are using the notation that Ao mentioned in class, you just want concatenation to be your binary operator.  In that case you don't need anything to serve the purpose of out.  If you are really adding to an existing sequence, you need that sequence to b

[2019-12-05 19:24] smiths commented on #46
@sharyuwu, your `compare` is much longer than it has to be.  The semantics can simply be:

`compare(d1, d2) := d1 <= d2`

As we discussed on another thread, you need to define `<=` for DayT, but once you have that, the above is all you need.

You also don't need in your `setdurlist` function to compare to `True` and `False`.  The values of the Boolean expressions will already be either `True` or `

[2019-12-05 22:33] #49 closed, assigned to sharyuwu

[2019-12-05 22:35] sharyuwu commented on #48
Extended discussion on https://github.com/sharyuwu/optimum-tilt-of-solar-panels/issues/51

[2019-12-05 22:35] #48 closed, assigned to sharyuwu

[2019-12-05 22:39] sharyuwu commented on #46
@smiths
If I defined the function of <, < =, then also define compare(d1, d2) := d1 <= d2.
Will the function compare(d1, d2) := d1 <= d2 seems redundant?

[2019-12-05 22:41] sharyuwu commented on #46
Yes, I will reconsider the reason for having the function setlist.
Maybe I don't really need it.

[2019-12-05 23:24] sharyuwu commented on #46
@smiths  I remove the function of setdurlist and expose some local function to Exported Access Programs.
See the changed line in https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/48be4e50631134c57ea767521ed7946f14a10806#diff-b1bd046f21124a53c1bb4ef387323431L329-R333
I will close this issue because the change was made.
But help give me some comments about the change.

[2019-12-05 23:24] #46 closed, assigned to smiths, sorainsm, caobo1994, sharyuwu

[2019-12-05 23:28] sharyuwu commented on #51
@caobo1994
@smiths
I add the function definition regarding operator functions <=, <.
Then remove the function compare.
See the changed line in https://github.com/sharyuwu/optimum-tilt-of-solar-panels/commit/48be4e50631134c57ea767521ed7946f14a10806#diff-b1bd046f21124a53c1bb4ef387323431L329-R333
Here is how I define the functions.
![image](https://user-images.githubusercontent.com/55363335/70282768-

[2019-12-05 23:28] #51 closed, assigned to sharyuwu

[2019-12-19 20:09] sharyuwu opened #54 "Assign Verification Module to domain expert."
Assign a Verification module for implementation to @sorainsm  on Dec 7.

[2019-12-19 20:18] sharyuwu commented on #52
Thank you all for the command.
In the end, I merger
Input parameter module + read file module = Input/Read Parameter
Module
Sun Intensity module + Zenith angle module = Calculation Module
Output parameter module + table-layout module =  Table-layout
Module

See the updated figure at
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/Design/MG/Fig_Hierarchy.jpg

[2019-12-19 20:18] #52 closed, assigned to smiths, sorainsm, caobo1994, sharyuwu

[2019-12-19 20:20] smiths commented on #54
@sharyuwu the module was completed by @sorainsm in her pull request:

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/pull/53

You were assigned as a reviewer.

[2019-12-19 20:20] #54 closed, assigned to sorainsm

[2019-12-19 20:23] sharyuwu commented on #50
@smiths @caobo1994
The new design displays the table in a file.
And also I rearrange the design of the table.
Now I will produce two for the result.
1. Show the difference energy based on the number of the cut.
2. Show the angles for adjusting the solar panel based on the day.
![image](https://user-images.githubusercontent.com/55363335/71206826-8ec3c700-2273-11ea-925a-3064f404d8e7.png)

[2019-12-19 20:23] #50 closed, assigned to sharyuwu

[2019-12-19 20:26] sharyuwu commented on #54
Oh, I didn't notice that.
Thank you for letting me know.

[2019-12-20 01:20] sharyuwu commented on #54
Pulled and merged the pull request to master branch:)

[2019-12-20 19:36] sharyuwu commented on #45
My original design is to let the output parameter collect the data and then send the data to the table-layout to display on the screen.
But it does not really make sense as you said, the output parameters will exactly be the calculated results, but they are still in the realm of this software.
So then I combine the output parameter module and table-layout module. In other words, the table-layout m

[2019-12-20 19:36] #45 closed, assigned to sharyuwu

[2019-12-20 19:44] sharyuwu commented on #47
Thanks for the help.
This is what I got in the end.

![image](https://user-images.githubusercontent.com/55363335/71287454-6b158500-2336-11ea-8436-755ed6bb1197.png)
![image](https://user-images.githubusercontent.com/55363335/71287466-71a3fc80-2336-11ea-84e7-5c3c5d86a574.png)

What I am trying to do here is that I want to calculate the value from decList [i] to decList [i+diff], and then concatenate

[2019-12-20 19:44] #47 closed, assigned to smiths, sorainsm, caobo1994, sharyuwu

[2019-12-20 21:11] sharyuwu commented on #44
Thanks for all the help.
This is what the design I end up with.
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/Design/MIS/MIS.pdf
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/Design/MIS/MIS.tex#L761
The following picture denotes the process of converting the captured values to a table.
![image](https://user-images.githubusercontent.com/553633

[2019-12-20 21:11] #44 closed, assigned to smiths, sharyuwu

[2019-12-20 21:15] #42 closed, assigned to smiths, sorainsm, caobo1994

[2019-12-20 21:32] sharyuwu commented on #40
This section is deleted from my SystemVnVPlan.
I agree with @sorainsm. This test case should be in UnitVnVPlan instead of  SystemVnVPlan.
However, in UnitVnVPlan I also decided not to put this test case in it, because the test case is testing the correctness of my Day ADT Module, which I am implemented by using an external framework without modify it.

This is also been explained in my UnitVnVPlan

[2019-12-20 21:32] #40 closed, assigned to smiths, sharyuwu

[2019-12-20 21:34] sharyuwu commented on #38
Corrected
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/UnitVnVPlan/UnitVnVPlan.tex#L157

[2019-12-20 21:34] #38 closed, assigned to sharyuwu

[2019-12-20 21:35] sharyuwu commented on #37
Corrected
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/UnitVnVPlan/UnitVnVPlan.tex#L157

[2019-12-20 21:35] #37 closed, assigned to sharyuwu

[2019-12-20 21:38] sharyuwu commented on #36
Corrected
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/SystVnVPlan/SystVnVPlan.pdf
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/UnitVnVPlan/UnitVnVPlan.pdf
The testing framework is likely to be changed. I put using the framework, Tasty, in my document.
But it might change if I later find out HSpec or other frameworks work be

[2019-12-20 21:38] #36 closed, assigned to sharyuwu

[2019-12-20 21:40] sharyuwu commented on #35
Yes, I will make them consistent!
Thank you for pointing this issue put.
It is so easy to mass them up when I am using two names at the same time:(

[2019-12-20 21:40] #35 closed, assigned to sharyuwu

[2019-12-20 21:41] sharyuwu commented on #34
Listed
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/SystVnVPlan/SystVnVPlan.tex#L157

[2019-12-20 21:41] #34 closed, assigned to sharyuwu

[2019-12-20 21:41] #23 closed, assigned to nobody

[2019-12-20 21:41] #21 closed, assigned to nobody

[2019-12-20 21:44] sharyuwu commented on #33
I meant to say that the system output should remain consistent with the corresponding of the input values.
In other words, if input the same values the software should output the same result.
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/SRS/SRS.tex#L1492

[2019-12-20 21:44] #33 closed, assigned to sharyuwu

[2019-12-20 21:48] sharyuwu commented on #32
I was meant to say the software should able to verify the output by using the table of outputs constraint.
The statement only remains in my SRS now, it was deleted from my SystemVnVPlan.
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/SRS/SRS.tex#L1485

[2019-12-20 21:48] #32 closed, assigned to sharyuwu

[2019-12-20 21:50] sharyuwu commented on #31
Thank you for pointing this out.
And sorry for the hard reading.
I was trying to wrap every line to 80 columns, and after I did it everything mass up....
I hope that I have fixed them all

[2019-12-20 21:50] #31 closed, assigned to nobody

[2019-12-20 21:57] smiths opened #55 "Instructions for running your code"
@sharyuwu please add instructions for how to run your code.  I would like to test your program, but your folder structure and naming convention don't immediately suggest to me where I should put my efforts.  It will be much easier if you add a README file that explains the steps for running your program.  You should include the expected version of Haskell and any library dependencies.  I would als

[2019-12-20 22:06] sharyuwu commented on #30
I have added an additional explanation to this confusion.
Hope it help!!
![image](https://user-images.githubusercontent.com/55363335/71295639-d9644280-234a-11ea-95cd-81dddd04d122.png)

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/SRS/SRS.tex#L854
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/SystVnVPlan/SystVnVPlan.tex#L75

[2019-12-20 22:06] #30 closed, assigned to sharyuwu

[2019-12-20 22:10] sharyuwu commented on #55
I have instruction in the readme file under file, scr.

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/src/README.md
Sorry that the test have to be done manually.
I will get rid of this issue as soon as possible.

[2019-12-20 22:11] sharyuwu commented on #55
The automated test is still in progress.
Sorry for the inconvenience.

[2019-12-20 22:25] sharyuwu commented on #55
The instruction is also in here too!
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/src/INSTALL.txt

[2019-12-20 22:26] sharyuwu commented on #29
Corrested

[2019-12-20 22:26] #29 closed, assigned to sharyuwu

[2019-12-20 22:27] sharyuwu commented on #28
I have fixed this issue by using table.
Hope it does make thing clear!
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/SystVnVPlan/SystVnVPlan.pdf

[2019-12-20 22:27] #28 closed, assigned to nobody

[2019-12-20 22:29] sharyuwu commented on #27
Here are the new test cases.
It should identify the problem you mentioned.

![image](https://user-images.githubusercontent.com/55363335/71296578-2269c600-234e-11ea-9ed7-2dddc703195b.png)

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/UnitVnVPlan/UnitVnVPlan.tex#L203

[2019-12-20 22:29] #27 closed, assigned to nobody

[2019-12-20 22:30] sharyuwu commented on #26
Change the description.
Please review the new document for the improvement.

https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/VnVPlan/SystVnVPlan/SystVnVPlan.pdf

[2019-12-20 22:30] #26 closed, assigned to nobody

[2019-12-20 22:37] sharyuwu commented on #13
The new content of understandability please see below.
https://github.com/sharyuwu/optimum-tilt-of-solar-panels/blob/master/docs/SRS/SRS.tex#L1520

[2019-12-20 22:37] #13 closed, assigned to sharyuwu

[2019-12-20 23:18] smiths commented on #55
@sharyuwu, I'm sorry but your instructions do not work.  Maybe you are missing some details?

[2019-12-20 23:21] sharyuwu commented on #55
Let me try my instruction on other editor and see how its work.

[2019-12-20 23:26] sharyuwu commented on #55
Yes, I did miss some detail.
The tool stack has to be install.
Here is the additional instruction: Install stack (1.2.0 or latter).

[2019-12-21 00:55] smiths commented on #55
I successfully ran your code.

[2019-12-21 00:55] #55 closed, assigned to smiths, sharyuwu

[2019-12-21 01:46] sharyuwu commented on #55
Thank you for helping me tested out!
Automatic test cases and the expanded function are on its way!
It takes me some time to understand how to make user interactive automatically.

[2019-12-21 05:24] smiths commented on #55
@sharyuwu, we are actually quite a ways past the deadline now.  The final report was due on the 18th.  I need to complete the grading.  I can give you until Dec 21, 11:59 pm to finish your testing.

[2019-12-21 05:27] sharyuwu commented on #55
OK! Copy that

[2019-12-22 04:41] sharyuwu opened #56 "Final repro"
@smiths
My automatic testing is added.
It is not cover all the plans I got though, I did my best.

Thank you so much for giving me more time to make this happened.